In [26]:
import os

import pandas as pd
import numpy as np

from lxml import html
import requests

In [2]:
DATA_DIR = 'data/';

def getPaper(id):
    # gets the abstract and title from citeulike based on an id
    page = requests.get('http://www.citeulike.org/article-posts/' + str(id))
    tree = html.fromstring(page.content)
    title = tree.xpath('//h1/text()')[0] if len(tree.xpath('//h1/text()')) else ''
    abstract = tree.xpath('//*[@id="abstract-body"]/blockquote/p/text()')[0] if len(tree.xpath('//*[@id="abstract-body"]/blockquote/p/text()')) else ''
    return {'title': title, 'abstract': abstract}

In [9]:
raw_data = pd.read_csv(os.path.join(DATA_DIR, 'citeulike_5k.csv'), header=0, sep=",");

# drop 'tag used' and 'datetime posted' columns
raw_data.drop(raw_data.columns[[2,3]], axis=1, inplace=True)

In [10]:
raw_data.head()

   Id                          Username
0  42  61baaeba8de136d9c1aa9c18ec3860e8
1  42  61baaeba8de136d9c1aa9c18ec3860e8
2  42  61baaeba8de136d9c1aa9c18ec3860e8
3  42  61baaeba8de136d9c1aa9c18ec3860e8
4  43  61baaeba8de136d9c1aa9c18ec3860e8

In [11]:
# initially we won't worry about the "tags" feature.
# the way the data is currently laid out means that there is a new row for each tag a user added to a paper.
# thus, we need to collapse rows referring to the same user and item into one row. 
drops = []
for i in range(1, len(raw_data.index)):
    current = raw_data.loc[i]
    prev = raw_data.loc[i-1]
    if ((current.Id == prev.Id) & (current.Username == prev.Username)):
        drops.append(i)

filtered_data = raw_data.drop(raw_data.index[drops])
filtered_data.head()

    Id                          Username
0   42  61baaeba8de136d9c1aa9c18ec3860e8
4   43  61baaeba8de136d9c1aa9c18ec3860e8
7   44  61baaeba8de136d9c1aa9c18ec3860e8
11  45  61baaeba8de136d9c1aa9c18ec3860e8
14  46  61baaeba8de136d9c1aa9c18ec3860e8

In [12]:
filtered_data['Id'] = filtered_data['Id'].astype(object)
filtered_data['Id'].describe()

count     2201
unique    1950
top       1223
freq         8
Name: Id, dtype: int64

In [13]:
filtered_data['Username'].describe()

count                                 2201
unique                                 310
top       071632f8c267c2efc3a84ce0a61bb9b1
freq                                   235
Name: Username, dtype: object

In [14]:
# need to filter out users with fewer than the minimum number of items in their library
min = 10
good_users = filtered_data[['Username', 'Id']].groupby('Username', as_index=False).filter(lambda x: len(x) > min)['Username'].tolist()

filtered_data = filtered_data[filtered_data['Username'].isin(good_users)].reset_index(drop=True)

In [15]:
filtered_data.describe()

          Id                          Username
count   1524                              1524
unique  1389                                39
top     3247  071632f8c267c2efc3a84ce0a61bb9b1
freq       5                               235

In [16]:
# need to split into training/validation and test

filtered_data

        Id                          Username
0       42  61baaeba8de136d9c1aa9c18ec3860e8
1       43  61baaeba8de136d9c1aa9c18ec3860e8
2       44  61baaeba8de136d9c1aa9c18ec3860e8
3       45  61baaeba8de136d9c1aa9c18ec3860e8
4       46  61baaeba8de136d9c1aa9c18ec3860e8
5       47  61baaeba8de136d9c1aa9c18ec3860e8
6       48  61baaeba8de136d9c1aa9c18ec3860e8
7       49  61baaeba8de136d9c1aa9c18ec3860e8
8       50  61baaeba8de136d9c1aa9c18ec3860e8
9       51  61baaeba8de136d9c1aa9c18ec3860e8
10      52  61baaeba8de136d9c1aa9c18ec3860e8
11      60  61baaeba8de136d9c1aa9c18ec3860e8
12      61  61baaeba8de136d9c1aa9c18ec3860e8
13      62  61baaeba8de136d9c1aa9c18ec3860e8
14      80  61baaeba8de136d9c1aa9c18ec3860e8
15      97  61baaeba8de136d9c1aa9c18ec3860e8
16      98  61baaeba8de136d9c1aa9c18ec3860e8
17      99  61baaeba8de136d9c1aa9c18ec3860e8
18     100  61baaeba8de136d9c1aa9c18ec3860e8
19     101  61baaeba8de136d9c1aa9c18ec3860e8
20     102  61baaeba8de136d9c1aa9c18ec3860e8
21     105  61baaeba8de136d9c1aa9c18ec3860e8
22     114  61baaeba8de136d9c1aa9c18ec3860e8
23     121  61baaeba8de136d9c1aa9c18ec3860e8
24     122  61baaeba8de136d9c1aa9c18ec3860e8
25     123  61baaeba8de136d9c1aa9c18ec3860e8
26     124  61baaeba8de136d9c1aa9c18ec3860e8
27     127  61baaeba8de136d9c1aa9c18ec3860e8
28     128  61baaeba8de136d9c1aa9c18ec3860e8
29     129  61baaeba8de136d9c1aa9c18ec3860e8
...    ...                               ...
1494  4276  220c71d2912a91704dd6a4ee0fc0cf86
1495  4277  59ab8ba3713ce2146235670f62e72baa
1496  4278  59ab8ba3713ce2146235670f62e72baa
1497  4197  59ab8ba3713ce2146235670f62e72baa
1498  4279  a8c9131a7092e3e3c9f1e42acfb8f44b
1499  4280  a8c9131a7092e3e3c9f1e42acfb8f44b
1500  4286  baaf3e1309dec9b8dce33d98a0070e86
1501  4200  f2c3d7f4f0fe9e7486158601741bd56c
1502  3247  f2c3d7f4f0fe9e7486158601741bd56c
1503  1442  f2c3d7f4f0fe9e7486158601741bd56c
1504  4295  638a32210609ec7f35c386a5f6f73aba
1505  4288  638a32210609ec7f35c386a5f6f73aba
1506  4296  a8c9131a7092e3e3c9f1e42acfb8f44b
1507  4297  a8c9131a7092e3e3c9f1e42acfb8f44b
1508  3918  a8c9131a7092e3e3c9f1e42acfb8f44b
1509  4298  d77a8fac4af6cc94c642f1226f299312
1510  4299  d77a8fac4af6cc94c642f1226f299312
1511  4300  d77a8fac4af6cc94c642f1226f299312
1512  3216  d77a8fac4af6cc94c642f1226f299312
1513  4301  d77a8fac4af6cc94c642f1226f299312
1514  4302  d77a8fac4af6cc94c642f1226f299312
1515  4303  d77a8fac4af6cc94c642f1226f299312
1516  4129  d77a8fac4af6cc94c642f1226f299312
1517  4304  d77a8fac4af6cc94c642f1226f299312
1518  4305  d77a8fac4af6cc94c642f1226f299312
1519  4280  ad6241687c8722ee0bafac52747ff8cf
1520  4306  2e28d093d304c6cea5eb9f27bfeb8de1
1521  4308  2e28d093d304c6cea5eb9f27bfeb8de1
1522  4309  638a32210609ec7f35c386a5f6f73aba
1523  4310  2e28d093d304c6cea5eb9f27bfeb8de1

[1524 rows x 2 columns]

In [17]:
# generate lookup table of document words
item_words = {}
for i in range(0, len(filtered_data.index)):
    item_id = filtered_data.loc[i, 'Id']
    if not item_id in item_words:
        print i/len(filtered_data.index)*100," percent complete \r",
        paper = getPaper(item_id)
        item_words[item_id] = (paper['title'] + paper['abstract']).encode("utf-8")

In [18]:
# export document words to csv
pd.DataFrame.from_dict(item_words, orient="index").to_csv('item_words.csv')

In [19]:
# convert user and item id's into matrix indices
u_map = {}
i_map = {}
i_index = 0
u_index = 0
for i in range(0, len(filtered_data.index)):
    user = filtered_data.loc[i, 'Username']
    item = filtered_data.loc[i, 'Id']
    if not user in u_map:
        u_map[user] = u_index
        u_index += 1
    if not item in i_map:
        i_map[item] = i_index
        i_index += 1
    filtered_data.loc[i, 'Username'] = u_map[user]
    filtered_data.loc[i, 'Id'] = i_map[item]

In [21]:
filtered_data.columns = ['iid', 'uid']
filtered_data.head()

  iid uid
0   0   0
1   1   0
2   2   0
3   3   0
4   4   0

In [22]:
filtered_data.to_csv(os.path.join(DATA_DIR, 'user_ratings.csv'), index=False)

In [39]:
filtered_data.loc[0, 'iid']

0

In [50]:
max(filtered_data['uid'])

38

In [46]:
pd.read_csv(os.path.join(DATA_DIR, 'user_ratings.csv'))

       iid  uid
0        0    0
1        1    0
2        2    0
3        3    0
4        4    0
5        5    0
6        6    0
7        7    0
8        8    0
9        9    0
10      10    0
11      11    0
12      12    0
13      13    0
14      14    0
15      15    0
16      16    0
17      17    0
18      18    0
19      19    0
20      20    0
21      21    0
22      22    0
23      23    0
24      24    0
25      25    0
26      26    0
27      27    0
28      28    0
29      29    0
...    ...  ...
1494  1366   38
1495  1367   31
1496  1368   31
1497  1343   31
1498  1369    1
1499  1370    1
1500  1371   34
1501  1346   37
1502  1017   37
1503   865   37
1504  1372   14
1505  1373   14
1506  1374    1
1507  1375    1
1508  1376    1
1509  1377   18
1510  1378   18
1511  1379   18
1512   991   18
1513  1380   18
1514  1381   18
1515  1382   18
1516  1351   18
1517  1383   18
1518  1384   18
1519  1370   26
1520  1385   28
1521  1386   28
1522  1387   14
1523  1388   28

[1524 rows x 2 columns]